@model TestRazor.ViewModel.ProveedorViewModel

@using TestRazor.Helpers

@{
    ViewBag.Title = "Alta";
}

<h2>Alta</h2>
@Html.LabelTest()

@using (Html.BeginForm("Guardar", "Proveedores"))
{
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <input type="submit" value="Crear" />
}
