@model TestRazor.ViewModel.Cliente

@using TestRazor.Helpers

@{
    ViewBag.Title = "Alta";
}

<h2>Alta</h2>

@Html.LabelTest()

@using (Html.BeginForm("Guardar", "Clientes"))
{
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <input type="submit" value="Crear" />
}



